
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 4px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}